// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
    text-align:center;
}

.images {
    margin-bottom: 8px;
    padding: 8px;
}